<div id="logreg-forms">

    <form class="form-signin" [formGroup]="formregister"  (submit)="send()">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign Up</h1>
        <!-- <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div> -->
        <!-- <p style="text-align:center"> OR  </p> -->
        <input type="email" id="email" [(ngModel)]="userForm.email" formControlName="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" id="password" [(ngModel)]="userForm.password" formControlName="password" class="form-control" placeholder="Password" required="">
        
        <button class="btn btn-success btn-block" type="submit" [disabled]="formregister.invalid"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <a class="btn btn-primary btn-block text-white" type="button" id="btn-signup" href="/login"><i class="fas fa-user-plus"></i> Log in with your account</a>
        </form>

        
        <div class="text-danger text-center" *ngIf="this.errorConta">{{this.errorConta}}</div>
        <div  class=" ps-3" [ngStyle]="{'color': formregister.controls['password'].status=='INVALID' ? 'red' : 'green'}">
            <li>
                Min 8 characters.
            </li>
            <li>
                Min 1 Simbol | Digit | Mayus. .
            </li>
        </div>

<br>

</div>